<a href="https://colab.research.google.com/github/mohamed-mido/Machine-Learning-Training/blob/main/Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Prob.1

from random import randint

Lottery= []
for r in range(7):
 Lottery.append(randint(0, 9))

print(Lottery)

for n in Lottery:
  print(n, end=' ')

[4, 9, 9, 6, 3, 9, 2]
4 9 9 6 3 9 2

In [ ]:
#Prob.2

Rain_Stats = []

print("please enter the total rainfall for each of the 12 months\ starting from January")

for r in range(12):
  Total_rain = int (input())
  Rain_Stats.append(Total_rain)

print("the total rainfall for the year: ", sum(Rain_Stats))
print("the average monthly rainfall: ", sum(Rain_Stats)/12)

print("The Highest rainfull is : ", max(Rain_Stats))
print("The Lowesest rainfull is : ", min(Rain_Stats))

please enter the total rainfall for each of the 12 months\ starting from January
2
9
4
6
7
8
10
3
5
1
15
7
the total rainfall for the year:  77
the average monthly rainfall:  6.416666666666667
The Highest rainfull is :  15
The Lowesest rainfull is :  1

In [1]:
#Prob.3

def greater_than(List, n):
  for L in List:
    if L > n:
      print(L, end=" ")

#Defined_list
List = [1, 2, 8, 13]
greater_than(List, 5)

8 13

In [4]:
#Prob.4

infile = open ("WorldSeriesWinners.txt",'r')
a = []

for line in infile:
  line = line.rstrip("\n")
  a.append(line)
  
infile.close()
print(a)
name = input("The Team Name")
win_count = a.count(name)

len(a),win_count

['Boston Americans', 'New York Giants', 'Chicago White Sox', 'Chicago Cubs', 'Chicago Cubs', 'Pittsburgh Pirates', 'Philadelphia Athletics', 'Philadelphia Athletics', 'Boston Red Sox', 'Philadelphia Athletics', 'Boston Braves', 'Boston Red Sox', 'Boston Red Sox', 'Chicago White Sox', 'Boston Red Sox', 'Cincinnati Reds', 'Cleveland Indians', 'New York Giants', 'New York Giants', 'New York Yankees', 'Washington Senators', 'Pittsburgh Pirates', 'St. Louis Cardinals', 'New York Yankees', 'New York Yankees', 'Philadelphia Athletics', 'Philadelphia Athletics', 'St. Louis Cardinals', 'New York Yankees', 'New York Giants', 'St. Louis Cardinals', 'Detroit Tigers', 'New York Yankees', 'New York Yankees', 'New York Yankees', 'New York Yankees', 'Cincinnati Reds', 'New York Yankees', 'St. Louis Cardinals', 'New York Yankees', 'St. Louis Cardinals', 'Detroit Tigers', 'St. Louis Cardinals', 'New York Yankees', 'Cleveland Indians', 'New York Yankees', 'New York Yankees', 'New York Yankees', 'New York Yankees', 'New York Yankees', 'New York Giants', 'Brooklyn Dodgers', 'New York Yankees', 'Milwaukee Braves', 'New York Yankees', 'Los Angeles Dodgers', 'Pittsburgh Pirates', 'New York Yankees', 'New York Yankees', 'Los Angeles Dodgers', 'St. Louis Cardinals', 'Los Angeles Dodgers', 'Baltimore Orioles', 'St. Louis Cardinals', 'Detroit Tigers', 'New York Mets', 'Baltimore Orioles', 'Pittsburgh Pirates', 'Oakland Athletics', 'Oakland Athletics', 'Oakland Athletics', 'Cincinnati Reds', 'Cincinnati Reds', 'New York Yankees', 'New York Yankees', 'Pittsburgh Pirates', 'Philadelphia Phillies', 'Los Angeles Dodgers', 'St. Louis Cardinals', 'Baltimore Orioles', 'Detroit Tigers', 'Kansas City Royals', 'New York Mets', 'Minnesota Twins', 'Los Angeles Dodgers', 'Oakland Athletics', 'Cincinnati Reds', 'Minnesota Twins', 'Toronto Blue Jays', 'Toronto Blue Jays', 'Atlanta Braves', 'New York Yankees', 'Florida Marlins', 'New York Yankees', 'New York Yankees', 'New York Yankees', 'Arizona Diamondbacks', 'Anaheim Angels', 'Florida Marlins', 'Boston Red Sox', 'Chicago White Sox', 'St. Louis Cardinals', 'Boston Red Sox', 'Philadelphia Phillies']
The Team NameSt. Louis Cardinals

(104, 10)

In [6]:
#Prob.6

tele_std = {"A": 2, "B": 2, "C": 2, "D": 3, "E": 3, "F": 3,
                 "G": 4,"H": 4, "I": 4, "J": 5, "K": 5, "L": 5, 
                 "M": 6,"N": 6, "O": 6, "P": 7, "Q": 7, "R": 7, 
                 "S": 7,"T": 8, "U": 8, "V": 8, "W": 9, "X": 9, 
                 "Y": 9, "Z": 9}

tele_char = input("Please Enter a 10-character telephone number\
in the format \'XXX-XXX-XXXX\': ")

num = ""
for i in tele_char:
    if i in tele_std:
        num += str(tele_std[i])
    else:
        num += i

print("The numeric equivalent is:", num)

Please Enter a 10-character telephone numberin the format 'XXX-XXX-XXXX': FRE-BGB-5N3K
The numeric equivalent is: 373-242-5635

In [9]:
#Prob.7


def capital_string(s):
  lis = s.split('. ')
  print(lis)
  x = ''

 
  for it1 in range(len(lis)):
      x += lis[it1][0].capitalize()
      x +=lis[it1][1:]

      if it1 != (len(lis)-1):
        x += '. ' 
  print(x)

def main():
    s = input('Enter your sentence: ')
    capital_string(s) 

main()

Enter your sentence: Hi, How are you?
['Hi, How are you?']
Hi, How are you?

In [10]:
#Prob.12

courses_details = {'CS101': [3004, "Haynes", "8:00 a.m."],
                   'CS102': [4501, "Alvarado", "9:00 a.m."],
                   'CS103': [6755, "Rich", "10:00 a.m."], 
                   'NT110': [1244, "Burke", "11:00 a.m."],
                   'CM241': [1411, "Lee", "1:00 p.m."]}

course_num = input("Please Enter The Course number: ")
print("The course details are: ")
print("Room: ",courses_details[course_num][0])
print("Instructor: ",courses_details[course_num][1])
print("Meeting Time: ",courses_details[course_num][2])

Please Enter Course number: NT110
The course details are:
Room:  1244
Instructor:  Burke
Meeting Time:  11:00 a.m.